body{
    margin:0px;
    text-align:center;
    font-family: 'Merriweather', serif;

}
h1{
    color:#79B4B7;
    margin-top:100px;
    margin-bottom:0px;
    font-family: 'Sacramento', cursive;
    font-size:937.5%;
}
h2{
    color:#79B4B7;
    font-family: 'Montserrat', sans-serif;
    font-size:312.5%;
    font-weight:normal;
    
}
h3{
    color:#9D9D9D;
    font-family: 'Montserrat', sans-serif;
    font-size:500%;
}
a{
    color:#9D9D9D;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:30px;    
}
a:hover{
    color:#79B4B7;
    font-weight:bolder;
}
p{
    color:#5F5F5F;
    font-size:125%;
}
hr{
    background-color:none;
    border-style:none;
    border-top-style:dotted;
    border-color:#9D9D9D;
    border-width:6px;
    width:6%;
    margin:100px auto;
}
.profile{
    width:50%;
    margin:auto;
}
.skill-row{
    width:50%;
    margin:100px auto;
    text-align:left;
}
.skillimg1{
    height:25%;
    width:25%;
    float:left;
    margin-right:30px;
}
.skillimg2{
    height:25%;
    width:25%;
    float:right;
    margin-left:30px;
}
.skill{
    font-size:300%;
}

.top-container{
    background-color:#F8F0DF;
    position:relative;
    padding-top:100px;
}
.middle-container{
    background-color:#FEFBF3;
}
.bottom-container{
    background-color:#F8F0DF;
    padding-top:50px;
    padding-bottom:50px;
}
.contact-me{
    width:50%;
    margin:auto;
    padding-bottom:50px;
}
.top-cloud{
    height:250px;
    width:250px;
    position:absolute;
    top:0px;
    right:10%;
}
.bottom-cloud{
    height:250px;
    width:250px;
    position:absolute;
    left:15%;
    bottom:400px;
}
.mountain{
    margin-bottom:0px;
    position:relative;
    top:28px;
}
.btn{
    background-color:#79B4B7;
    margin:50px;
    border:none;
    color:#FEFBF3;
    padding:16px 32px;
    text-decoration:none;
}
.footer-link{
    margin:10px;
    text-decoration:none;
}